# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
qdranttesting.ipynb
.codebuddy
.idea

# Docker
Dockerfile
docker-compose.yml

.idea/codebuddy.xml

index_backup_rmdpost.js
