<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BibleBuddy - Privacy Policy</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #1A1821;
        color: #ffffff;
      }
      header {
        background: #40414F;
        color: #ffffff;
        padding-top: 30px;
        min-height: 70px;
        border-bottom: #343541 3px solid;
      }
      header a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
      }
      header li {
        float: left;
        display: inline;
        padding: 0 20px 0 20px;
      }
      header #branding {
        float: left;
      }
      header #branding h1 {
        margin: 0;
      }
      header nav {
        float: right;
        margin-top: 10px;
      }
      header .highlight, header .current a {
        color: #e8491d;
        font-weight: bold;
      }
      header a:hover {
        color: #cccccc;
        font-weight: bold;
      }
      main {
        padding: 20px;
      }
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 20px;
      }
      ul {
        padding: 0;
      }
      ul li {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <div class="gradient-overlay"></div>
    <header>
      <h1><a href="/">BibleBuddy</a></h1>
      <nav>
        <a href="/">Home</a>
        <a href="/page/privacy">Privacy Policy</a>
      </nav>
    </header>
    
    <main>
      <h2>Privacy Policy</h2>
      <p>Last updated: April 11, 2023</p>

      <p>At BibleBuddy.ai, we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines what data we collect, how we use it, and the steps we take to ensure the security of your data.</p>
      <h3>Information We Collect</h3>
      <p>While using BibleBuddy.ai, we may collect the following information:</p>
      <ul>
        <li>IP Address: We save your IP address to prevent spam and ensure the security of our service.</li>
        <li>Queries and Responses: We store all queries and responses to improve the efficiency and effectiveness of our caching system.</li>
      </ul>
      <p>We do not collect any other personally identifiable information.</p>

      <h3>How We Use Your Information</h3>
      <p>We use the collected information for the following purposes:</p>
      <ul>
        <li>Spam Prevention: By storing IP addresses, we can identify and block potential spam sources to maintain the quality of our service.</li>
        <li>Caching: Saving queries and responses allows us to provide faster and more accurate results to user inquiries.</li>
      </ul>

      <h3>Data Retention</h3>
      <p>We retain your IP address and queries/responses data for a limited period necessary for the purposes set out in this Privacy Policy. Once the retention period expires, we will delete or anonymize your data.</p>

      <h3>Data Security</h3>
      <p>We take the security of your personal information seriously and implement appropriate technical and organizational measures to protect your data against unauthorized access, alteration, disclosure, or destruction.</p>

      <h3>Third-Party Services</h3>
      <p>We do not share, sell, or disclose your information to any third parties for marketing or any other purposes.</p>

      <h3>Changes to This Privacy Policy</h3>
      <p>We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. Any changes will be posted on this page, and by continuing to use our services, you agree to be bound by the updated Privacy Policy.</p>


      <h3>Google Analytics</h3>
      <p>We use Google Analytics to collect anonymous usage data to help us understand how our website is being used. Google Analytics may collect information such as your IP address, browser type, and operating system. This data is not linked to any personally identifiable information. You can learn more about Google Analytics' data practices by visiting their <a href="https://support.google.com/analytics/answer/6004245?hl=en" target="_blank" rel="noopener noreferrer">Privacy & Terms</a> page.</p>

      <h3>Contact Information</h3>
      <p>If you have any questions or concerns about this Privacy Policy, please contact us at <a href="mailto:simpliaisolutions@gmail.com">simpliaisolutions@gmail.com</a>.</p>
    </main>
  </body>
</html>
